<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fortunekidew.pewaad">


    <!-- permissions for Network -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- permissions for SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- permissions for contacts -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Authenticator -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Audio -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--Camera-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />

    <application
        android:name="com.fortunekidew.pewaad.app.PewaaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Pewaa"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="com.fortunekidew.pewaad.activities.main.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Pewaa.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Pewaa.SplashTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.novasera.whatsclone.messaging‌​" />

            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.fortunekidew.pewaad.android.profile"/>
            </intent-filter>
        </activity>

        <!--    WishlistActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.gifts.WishlistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.fortunekidew.pewaad.activities.main.MainActivity"
            android:theme="@style/Pewaa.Home"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fortunekidew.pewaad.activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".activities.contributors.AssignContributor"
            android:exported="false"
            android:theme="@style/Pewaa.Translucent.AssignContributor"
            android:windowSoftInputMode="adjustResize" />

        <!--  AddMembersToGroupActivity -->
        <activity android:name="com.fortunekidew.pewaad.activities.groups.AddMembersToGroupActivity" />

        <!--  AddWishlistsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.wishlists.AddWishlistsActivity"
            android:parentActivityName=".activities.gifts.WishlistActivity" />

        <!--  ContributeActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.gifts.ContributeActivity"
            android:parentActivityName=".activities.gifts.GiftDetailsActivity" />

        <!--  AddGiftsActivity -->
        <activity android:name="com.fortunekidew.pewaad.activities.gifts.AddGiftsActivity" />

        <!--  GiftActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.gifts.GiftDetailsActivity"
            android:theme="@style/Pewaa.Translucent.Wishlists.gift"
            android:parentActivityName=".activities.gifts.WishlistActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="pewaa.com"
                    android:pathPrefix="/gifts/"/>
            </intent-filter>
        </activity>

        <!--  AddNewMembersToGroupActivity -->
        <activity android:name="com.fortunekidew.pewaad.activities.groups.AddNewMembersToGroupActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!--  TransferMessageContactsActivity -->
        <activity android:name="com.fortunekidew.pewaad.activities.gifts.TransferMessageContactsActivity" />

        <!--  NotificationsSettingsActivity -->
        <activity android:name="com.fortunekidew.pewaad.activities.settings.NotificationsSettingsActivity" />
        <!--  AccountSettingsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.settings.AccountSettingsActivity"
            android:label="@string/title_activity_account_settings"
            android:theme="@style/Pewaa" />
        <!--  DeleteAccountActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.settings.DeleteAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_delete_account"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />
        <!--  ChangeNumberActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.settings.ChangeNumberActivity"
            android:label="@string/title_activity_change_number"
            android:theme="@style/Pewaa" />

        <!--  ChangeNumberActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.settings.AboutActivity"
            android:theme="@style/Pewaa" />
        <!-- ProfilePreviewActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.profile.ProfilePreviewActivity"
            android:theme="@style/Dialog"
            android:windowActionBar="false" />
        <activity android:name="com.fortunekidew.pewaad.activities.profile.ProfileActivity" />

        <!-- SMS Receiver -->
        <receiver android:name="com.fortunekidew.pewaad.receivers.SmsReceiverBroadCast">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Intent service for OTP -->
        <service
            android:name="com.fortunekidew.pewaad.services.SMSVerificationService"
            android:exported="false" />
        <!-- AuthenticationService -->
        <service
            android:name="com.fortunekidew.pewaad.sync.AuthenticatorService"
            android:exported="true"> <!--android:process=":auth"-->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- ContactsSyncAdapterService for SyncAdapter -->

        <service
            android:name="com.fortunekidew.pewaad.sync.ContactsSyncAdapterService"
            android:exported="true"> <!--android:process=":sync"-->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />

            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <!-- SettingsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Pewaa" />

        <!-- SearchConversationsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.search.SearchConversationsActivity"
            android:label="@string/title_activity_settings" />

        <!-- SearchContactsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.search.SearchContactsActivity"
            android:label="@string/title_activity_settings" />


        <!-- EditProfileActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/Pewaa" />

        <!-- StatusActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.status.StatusActivity"
            android:label="@string/title_activity_status"
            android:theme="@style/Pewaa" />
        <!-- StatusDelete -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.popups.StatusDelete"
            android:theme="@style/Dialog"
            android:windowActionBar="false" />
        <!-- EditStatusActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.status.EditStatusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_status"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />

        <!-- EditUsernameActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.profile.EditUsernameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_name"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />


        <!-- EditGroupActivity -->

        <!-- NewContactsActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.NewContactsActivity"
            android:label="@string/title_select_contributor"
            android:theme="@style/Pewaa" />


        <!-- Restart service when the user kill processor -->

        <service
            android:name="com.fortunekidew.pewaad.services.BootService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_service_name"
            android:process=":remote" />


        <receiver android:name="com.fortunekidew.pewaad.receivers.NetworkChangeListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- the main service  -->
        <service
            android:name="com.fortunekidew.pewaad.services.MainService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_service_name">
            <intent-filter>
                <action android:name="new_wishlist_notification" />
                <action android:name="new_payment_notification" />
                <action android:name="payment_completed_notification" />
            </intent-filter>
        </service>

        <!-- Messaging services -->
        <service
            android:name=".services.PewaaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PewaaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
