<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fortunekidew.pewaad">

    <!-- permissions for Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <!-- permissions for SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- permissions for contacts -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Authenticator -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Audio -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--Camera-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />

    <application
        android:name=".app.PewaaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Pewaa"
        android:largeHeap="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".activities.main.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <!--<intent-filter>-->
              <!--<category android:name="android.intent.category.DEFAULT"/>-->
              <!--<action android:name="android.intent.action.VIEW"/>-->

              <!--<data android:scheme="terms"/>-->
              <!--<data android:scheme="privacy"/>-->
            <!--</intent-filter>-->
        </activity>

        <!--  IntroActivity -->
        <activity
            android:name="com.fortunekidew.pewaad.activities.main.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Pewaa.SplashTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Pewaa.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.fortunekidew.pewaad.android.profile"/>
            </intent-filter>
        </activity>

        <!--    WishlistActivity -->
        <activity
            android:name=".activities.gifts.WishlistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".activities.contributors.AssignContributor"
            android:theme="@style/Pewaa.Translucent.AssignContributor"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.main.Report"
            android:theme="@style/Pewaa.Translucent.AssignContributor"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.wishlists.ListContributors"
            android:theme="@style/Pewaa.Translucent.AssignContributor"
            android:windowSoftInputMode="adjustResize" />
        <!--  AddWishlistsActivity -->
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name=".activities.wishlists.AddWishlistsActivity"
            android:parentActivityName=".activities.gifts.WishlistActivity" />

        <!--  ContributeActivity -->
        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name=".activities.gifts.ContributeActivity"
            android:parentActivityName=".activities.gifts.GiftDetailsActivity" />

        <!--  AddGiftsActivity -->
        <activity
            android:name=".activities.gifts.AddGiftsActivity" />

        <!--  GiftDetailsActivity -->
        <activity
            android:name=".activities.gifts.GiftDetailsActivity"
            android:theme="@style/Pewaa.Translucent.Wishlists.gift"
            android:parentActivityName=".activities.gifts.WishlistActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="pewaa.com"
                    android:pathPrefix="/gifts/"/>
            </intent-filter>
        </activity>

        <!--  NotificationsSettingsActivity -->
        <activity android:name=".activities.settings.NotificationsSettingsActivity" />
        <!--  AccountSettingsActivity -->
        <activity
            android:name=".activities.settings.AccountSettingsActivity"
            android:label="@string/title_activity_account_settings"
            android:theme="@style/Pewaa" />
        <!--  DeleteAccountActivity -->
        <activity
            android:name=".activities.settings.DeleteAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_delete_account"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />
        <!--  ChangeNumberActivity -->
        <activity
            android:name=".activities.settings.ChangeNumberActivity"
            android:label="@string/title_activity_change_number"
            android:theme="@style/Pewaa" />
        <!--  ChangeNumberActivity -->
        <activity
            android:name=".activities.settings.AboutActivity"
            android:theme="@style/Pewaa" />
        <!-- ProfilePreviewActivity -->
        <activity
            android:name=".activities.profile.ProfilePreviewActivity"
            android:theme="@style/Dialog"
            android:windowActionBar="false" />
        <!-- SMS Receiver -->
        <receiver android:name=".receivers.SmsReceiverBroadCast">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- Intent service for OTP -->
        <service
            android:name=".services.SMSVerificationService"
            android:exported="false" />
        <!-- AuthenticationService -->
        <service
            android:name=".sync.AuthenticatorService"
            android:exported="true"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- SyncService for SyncAdapter -->
        <service
            android:name=".sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <!-- SettingsActivity -->
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Pewaa" />
        <!-- SearchContactsActivity -->
        <activity
            android:name=".activities.search.SearchContactsActivity"
            android:label="@string/title_activity_settings" />
        <!-- EditProfileActivity -->
        <activity
            android:name=".activities.profile.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/Pewaa" />
        <!-- StatusActivity -->
        <activity
            android:name=".activities.status.StatusActivity"
            android:label="@string/title_activity_status"
            android:theme="@style/Pewaa" />
        <!-- StatusDelete -->
        <activity
            android:name=".activities.popups.StatusDelete"
            android:theme="@style/Dialog"
            android:windowActionBar="false" />
        <!-- EditStatusActivity -->
        <activity
            android:name=".activities.status.EditStatusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_status"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />

        <!-- EditUsernameActivity -->
        <activity
            android:name=".activities.profile.EditUsernameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_name"
            android:theme="@style/Pewaa"
            android:windowSoftInputMode="adjustResize" />

        <!-- NewContributorActivity -->
        <activity
            android:name=".activities.contributors.NewContributorActivity"
            android:label="@string/title_select_contributor"
            android:theme="@style/Pewaa" />

        <receiver android:name=".receivers.NetworkChangeListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Notification Services -->
        <service
            android:name=".services.PewaaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.PewaaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${filesAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

       <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9923ad57978aac4e7e4c2affa120c94be8ffeac5" />
    </application>

</manifest>
